name: Ingest Youtube Playlist to Port
on:
  workflow_dispatch:

jobs:
  ingest-to-port:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Fetch YouTube Data
        id: fetch
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          PLAYLIST_ID: "PL5ErBr2d3QJH0kbwTQ7HSuzvBb4zIWzhy"
        run: |
          pip install requests isodate
          python -c "
          import requests, os, json, isodate
          key = os.environ['YOUTUBE_API_KEY']
          pid = os.environ['PLAYLIST_ID']
          
          # Get Playlist Data
          pl_url = f'https://www.googleapis.com/youtube/v3/playlists?part=snippet,contentDetails&id={pid}&key={key}'
          pl = requests.get(pl_url).json()['items'][0]
          
          entities = [{
              'identifier': pid, 
              'blueprint': 'youtube_playlist', 
              'title': pl['snippet']['title'], 
              'properties': {
                  'link': f'https://www.youtube.com/playlist?list={pid}', 
                  'video_count': pl['contentDetails']['itemCount']
              }
          }]
          
          # Get Videos Data
          v_url = f'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet,contentDetails&maxResults=50&playlistId={pid}&key={key}'
          v_data = requests.get(v_url).json().get('items', [])
          
          for item in v_data:
              vid = item['contentDetails']['videoId']
              v_info = requests.get(f'https://www.googleapis.com/youtube/v3/videos?part=statistics,contentDetails&id={vid}&key={key}').json()['items'][0]
              entities.append({
                  'identifier': vid, 
                  'blueprint': 'youtube_video', 
                  'title': item['snippet']['title'],
                  'properties': {
                      'link': f'https://www.youtube.com/watch?v={vid}',
                      'views': int(v_info['statistics'].get('viewCount', 0)),
                      'likes': int(v_info['statistics'].get('likeCount', 0)),
                      'durationSeconds': int(isodate.parse_duration(v_info['contentDetails']['duration']).total_seconds())
                  },
                  'relations': {'playlist': pid}
              })
          
          with open('entities.json', 'w') as f:
              json.dump(entities, f)
          "

      - name: Bulk Upsert to Port
        uses: port-labs/port-github-action@v1
        with:
          clientId: ${{ secrets.PORT_CLIENT_ID }}
          clientSecret: ${{ secrets.PORT_CLIENT_SECRET }}
          operation: BULK_UPSERT
          entities-file: ./entities.json
